{% extends "base.html" %} {% block title %} Contact Us {% endblock title %} {% block head %}

<h2 style="color:rgba(139, 66, 23, 0.952) ;font-family:Georgia, 'Times New Roman', Times, serif;font-size: medium;"><big>Contact Us</big></h2>

<!-- <div class="container mt-2">

    <div class="row"> -->

<div>


    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div style="background-color:rgba(39, 24, 3, 0.904);box-sizing:border-box;width: 500px;padding: 10px; color: whitesmoke;font-family:Georgia, 'Times New Roman', Times, serif;">
        <form action="/contact" method="post">{% csrf_token %}

            <div class="form-group">
                <input type="text" name="fullname" class="form-control" placeholder="Your Name" required>
            </div>
            <br>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>
            <br>
            <div class="form-group">
                <input type="tel" class="form-control" name="num" placeholder="Phone Number" required>
            </div>
            <br>
            <div class="form-group">
                <textarea class="form-control mt-2" name="desc" rows="3" cols="5" placeholder="How can we help you?" required></textarea>
            </div>
            <br>
            <div class="text-center"><button class="btn btn-warning" type="submit">Send Message</button></div>
        </form>
    </div>
</div>
<div class="col-md-3"></div>


{% endblock head %}